# Ignorer les certificats SSL
certificatssl/
*.key
*.crt
*.pem
#Info perso sensible
web/frontend/public/portfolio/8-1 - BTS SIO - 2025 - Annexe 8-1 - Epreuve E5 - Tableau de synthese.xlsx
web/frontend/public/portfolio/cv.pdf
web/frontend/public/testhtmlcss/
docker-compose.yml
web/site/ecommerce/
web/site/explorerfile/
package.json
package-lock.json
node_modules/
dockerfile
web/site/includes/db.php
web/site/id_ed25519_converted.pub